name: CD
on:
  pull_request:
    types:
      - closed
    branches:
      - main

concurrency:
  group: cd-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GH_EMAIL: '41898282+github-actions[bot]@users.noreply.github.com'
  GH_USER: 'github-actions[bot]'

jobs:
  check-release:
    name: Check release
    if: ${{ github.event.pull_request.merged == true }}
    runs-on: ubuntu-latest
    outputs:
      is_release: ${{ steps.check.outputs.is_release }}
    steps:
      - name: check
        id: check
        run: |
          SOURCE="${{ github.head_ref }}"
          TARGET="${{ github.base_ref }}"
          VAR_NAME="is_release"
          if  [[ ${SOURCE} == release/* ]] && [[ ${TARGET} == "main" ]]; then
            echo "is_release=1"
            echo "${VAR_NAME}=1" >>"${GITHUB_OUTPUT}"
          else
            echo "is_release=0"
            echo "${VAR_NAME}=0" >>"${GITHUB_OUTPUT}"
          fi

    # check release/* -> mainへのマージ
  test:
    needs: 
      - check-release
    if: ${{ needs.check-release.outputs.is_release > 0 }}
    uses: ./.github/workflows/ci.yml

  get_version:
    name: get version
    needs: 
      - check-release
    if: ${{ startsWith(github.head_ref, 'release/') && (needs.check-release.outputs.is_release > 0)}}
    uses: ./.github/workflows/version.yml

  build:
    name: Test1
    runs-on: ubuntu-latest
    needs:
      - test
      - get_version
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: cat file
        run: cat test.txt

      - name: Git
        run: |
          echo '1' $GITHUB_REF
          echo '2' ${{ github.ref }}
          echo '3' ${{ github.ref_name }}
          echo '4' ${{ github.head_ref }} 
          echo '5' ${{ github.base_ref }}

      - name: check log
        run: |
          git log --pretty=format:"%h - %an, %ar : %s" |head -n 10

          
  tag:
    name: Add the tag for the released version
    needs:
      - get_version
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Github user informations.
        run: |
          git config --local user.email "${{ env.GH_EMAIL }}"
          git config --local user.name "${{ env.GH_USER }}"

      - name: Add the release tag
        run: |
          git tag ${{ needs.get_version.outputs.app_version_text }}
          git push origin ${{ needs.get_version.outputs.app_version_text }}