name: CI
run-name: test ${{github.event.pull_request.title}} ${{github.event.pull_request.id}}
on:
  # issue_comment:
  #   types:
  #     - created
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  # workflow_call:


concurrency:
  group: ci-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GH_EMAIL: '41898282+github-actions[bot]@users.noreply.github.com'
  GH_USER: 'github-actions[bot]'

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: cat github_event_path
        run: cat $GITHUB_EVENT_PATH